<?xml version="1.0" encoding="utf-8"?>

<bizCache>

<!--====================================================================================================-->

  <!--Comment GetById-->
  <bizCacheItem name="CommentGetById" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="CommentGetById::Id_{0}" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />



  <!--Subject GetById-->
  <bizCacheItem name="SubjectGetById" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="SubjectGetById::SubjectId_{0}" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />



  <!--SubjectCategory GetById-->
  <bizCacheItem name="SubjectCategoryGetById" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="SubjectCategoryGetById::Id_{0}" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />



  <!--SubjectInfo GetById-->
  <bizCacheItem name="SubjectInfoGetById" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="SubjectInfoGetById::Id_{0}" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />



  <!--Users GetById-->
  <bizCacheItem name="UsersGetById" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="UsersGetById::UserId_{0}" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />



  <!--==================================================For Dictionary==================================================-->

  <!--Comment ListAll-->
  <bizCacheItem name="CommentListAll" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="CommentListAll" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />

  <!--Subject ListAll-->
  <bizCacheItem name="SubjectListAll" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="SubjectListAll" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />

  <!--SubjectCategory ListAll-->
  <bizCacheItem name="SubjectCategoryListAll" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="SubjectCategoryListAll" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />

  <!--SubjectInfo ListAll-->
  <bizCacheItem name="SubjectInfoListAll" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="SubjectInfoListAll" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />

  <!--Users ListAll-->
  <bizCacheItem name="UsersListAll" enabled="false" removeAfterModify="false" cacheType="TimeSlidingExpiration" cacheKey="UsersListAll" cacheDuration="01:00:00" fileName="" dbEntry="" table="" />
  
</bizCache>
