<?xml version="1.0" encoding="utf-8"?>

<bizLog>
<!--==================================================公共==================================================-->
	<!--Data Debug-->
	<bizLogItem enabled="true" name="DataDebug" logger="DataDebugLog" level="Debug" /> 	
	<!--System Error-->
	<bizLogItem enabled="true" name="SystemError" logger="ErrorLog" level="Error" />
	
	
<!--====================================================================================================-->
  <!--Comment-->
  <bizLogItem enabled="true" name="CommentAdd" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="CommentRemove" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="CommentRemoveList" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="CommentSave" logger="BizLog" level="Info"/>



  <!--Subject-->
  <bizLogItem enabled="true" name="SubjectAdd" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectRemove" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectRemoveList" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectSave" logger="BizLog" level="Info"/>



  <!--SubjectCategory-->
  <bizLogItem enabled="true" name="SubjectCategoryAdd" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectCategoryRemove" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectCategoryRemoveList" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectCategorySave" logger="BizLog" level="Info"/>



  <!--SubjectInfo-->
  <bizLogItem enabled="true" name="SubjectInfoAdd" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectInfoRemove" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectInfoRemoveList" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="SubjectInfoSave" logger="BizLog" level="Info"/>



  <!--Users-->
  <bizLogItem enabled="true" name="UsersAdd" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="UsersRemove" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="UsersRemoveList" logger="BizLog" level="Info"/>
  <bizLogItem enabled="true" name="UsersSave" logger="BizLog" level="Info"/>

</bizLog>
