<?xml version="1.0" encoding="utf-8" ?>
<!--
dbContraint：数据库约束

	foreignKeys：外键集合
		insertUpdateViolationMessage：插入/修改时违反约束的提示消息
		deleteViolationMessage：删除时违反约束的提示消息
		
		foreignKey：外键
			name：外键名称（对于Oracle，必须提供模式名称，如OEMS.FK_SCM_STOR_REFERENCE_DIC_STOR）
			parent：主表名称
			child：子表名称
			parentKeys：主表主键列
			childKeys：子表外键列
	primaryKeys：主键（候选键）集合
		insertUpdateViolationMessage：插入/修改时违反约束的提示消息
		
		primaryKey：主键（候选键）
			name：主键（候选键）名称
			table：表名
			keyColumns：主键（候选键）列名
			
	uniqueIndexes：惟一索引集合
		insertUpdateViolationMessage：插入/修改时违反约束的提示消息
		
		uniqueIndex：惟一索引
			name：惟一索引名称
			table：表名
			indexColumns：索引列名
-->
<dbContraint>
	
	<foreignKeys
		insertUpdateViolationMessage="“{child}”的“{childKeys}”在“{parent}”中不存在，请修改后再保存！"
		deleteViolationMessage="“{parent}”已被“{child}”引用，不能删除！{parentKeys}">
		
		<foreignKey name="FK_ChildTable_Ref_ParentTable"
			  parent="主表"
			  child="子表"
			  parentKeys="主表ID：{0}。"
			  childKeys="主表ID"/>
		
	</foreignKeys>

	<primaryKeys insertUpdateViolationMessage="{table}的{keyColumns}重复，请修改后再保存！">
		<primaryKey name="PK_Table"
			  table="表名"
			  keyColumns="主键列名"/>
	</primaryKeys>

	<uniqueIndexes insertUpdateViolationMessage="{table}的{indexColumns}重复，请修改后再保存！">
		<uniqueIndex name="IX_Table"
			   table="表名"
			   indexColumns="索引列名"/>
	</uniqueIndexes>
</dbContraint>

