<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<!--对所有日志项-->
	<!--<root>
		<level value="INFO" />
		<appender-ref ref="BizLogRollingFile" />
	</root>
	-->

	<logger name="BizLog">
		<level value="ALL" />
		<appender-ref ref="BizLogRollingFile" />
	</logger>
	
	<logger name="DataDebugLog">
		<level value="ALL" />
		<appender-ref ref="DataDebugLogRollingFile" />
	</logger>
	
	<logger name="ErrorLog">
		<level value="ALL" />
		<appender-ref ref="ErrorLogRollingFile" />
	</logger>

	<appender name="BizLogRollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\BizLog.log" />
		<appendToFile value="true" />
		<maximumFileSize value="1024KB" />
		<maxSizeRollBackups value="3" />
		<!--<layout type="log4net.Layout.PatternLayout">
			--><!--<conversionPattern value="%level %thread %logger - %message%newline" />--><!--
			<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
		</layout>-->
		<layout type="Share.Framework.Logging.LogXmlLayout,Share.Framework">
			<param name="Prefix" value=""/>
			<ConversionPattern value="%d %-5p %c [%property{log4net:HostName}] - %m%n"/>
		</layout>
	</appender>
	
	<appender name="DataDebugLogRollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\DataDebugLog.log" />
		<appendToFile value="true" />
		<maximumFileSize value="1024KB" />
		<maxSizeRollBackups value="3" />
		<!--<layout type="log4net.Layout.PatternLayout">
			-->
		<!--<conversionPattern value="%level %thread %logger - %message%newline" />-->
		<!--
			<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
		</layout>-->
		<layout type="Share.Framework.Logging.LogXmlLayout,Share.Framework">
			<param name="Prefix" value=""/>
			<ConversionPattern value="%d %-5p %c [%property{log4net:HostName}] - %m%n"/>
		</layout>
	</appender>
	
	<appender name="ErrorLogRollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\ErrorLog.log" />
		<appendToFile value="true" />
		<maximumFileSize value="1024KB" />
		<maxSizeRollBackups value="3" />
		<!--<layout type="log4net.Layout.PatternLayout">
			--><!--<conversionPattern value="%level %thread %logger - %message%newline" />--><!--
			<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
		</layout>-->
		<layout type="Share.Framework.Logging.LogXmlLayout,Share.Framework">
			<param name="Prefix" value=""/>
			<ConversionPattern value="%d %-5p %c [%property{log4net:HostName}] - %m%n"/>
		</layout>
	</appender>

	<appender name="BizLogDb" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1"/>
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<connectionString value="Data Source=192.168.1.136;Initial Catalog=testdb;User ID=sa;Password=1234567890;"/>
		<commandText value="INSERT INTO [dbo].[BusinessLog]
	(
		
		[CreateTime],
		[UserName],
		[OperationType],
		[Target],
		[ServerName],
		[IpAddress],
		[PageURL],
		[Remark]
	)
	VALUES
	(
		
		@CreateTime,
		@UserName,
		@OperationType,
		@Target,
		@ServerName,
		@IpAddress,
		@PageURL,
		@Remark
	)"/>
		<parameter>
			<parameterName value="@CreateTime"/>
			<dbType value="DateTime"/>
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%CreateTime" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@UserName"/>
			<dbType value="String" />
			<size value="50" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%UserName" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@ServerName"/>
			<dbType value="String" />
			<size value="32" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%ServerName" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@IpAddress"/>
			<dbType value="String" />
			<size value="15" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%IpAddress" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@OperationType"/>
			<dbType value="String" />
			<size value="50" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%OperationType" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Target"/>
			<dbType value="String" />
			<size value="256" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%Target" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@PageURL"/>
			<dbType value="String" />
			<size value="256" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%PageURL" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Remark"/>
			<dbType value="String" />
			<size value="512" />
			<layout type="Share.Framework.Logging.BusinessLogLayout,Share.Framework">
				<conversionPattern value="%Remark" />
			</layout>
		</parameter>
		<!---->
	</appender>
	
	<appender name="ErrorLogDb" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1"/>
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<connectionString value="Data Source=192.168.1.136;Initial Catalog=testdb;User ID=sa;Password=1234567890;"/>
		<commandText value="INSERT INTO [dbo].[ErrorLog]
	(
		
		[CreateTime],
		[UserName],
		[ServerName],
		[IpAddress],
		[NotifyMessage],
		[BaseErrorMessage],
		[Trace],
		[ErrorMethods],
		[Remark]
	)
	VALUES
	(
		@CreateTime,
		@UserName,
		@ServerName,
		@IpAddress,
		@NotifyMessage,
		@BaseErrorMessage,
		@Trace,
		@ErrorMethods,
		@Remark
	)"/>
		<parameter>
			<parameterName value="@CreateTime"/>
			<dbType value="DateTime"/>
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%CreateTime" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@UserName"/>
			<dbType value="String" />
			<size value="50" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%UserName" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@ServerName"/>
			<dbType value="String" />
			<size value="32" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%ServerName" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@IpAddress"/>
			<dbType value="String" />
			<size value="15" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%IpAddress" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@NotifyMessage"/>
			<dbType value="String" />
			<size value="128" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%NotifyMessage" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@BaseErrorMessage"/>
			<dbType value="String" />
			<size value="128" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%BaseErrorMessage" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Trace"/>
			<dbType value="String" />
			<size value="65535" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%Trace" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@ErrorMethods"/>
			<dbType value="String" />
			<size value="128" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%ErrorMethods" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Remark"/>
			<dbType value="String" />
			<size value="512" />
			<layout type="Share.Framework.Logging.ErrorLogLayout,Share.Framework">
				<conversionPattern value="%Remark" />
			</layout>
		</parameter>
		<!---->
	</appender>
	
	<!--
		单一文件示例
		<appender name="SingleLogFile" type="log4net.Appender.FileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="LogFile.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%d [%t] %-5p %c [%x]  - %m%n"/>
			</layout>
		</appender>
		滚动文件示例
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
			<param name="StaticLogFileName" value="false"/>
			<param name="RollingStyle" value="Date"/>
			<param name="File" value="Log\LogFile"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
			<param name="AppendToFile" value="true"/>
			<LockingModel type="log4net.Appender.FileAppender+MinimalLock, log4net" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern"  value="%d [%t] %-5p %c [%x]  - %m%n"/>
			</layout>
		</appender>
		-->

</log4net>

